
#top {
    position: relative;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
/*    background-color: #ece3a5;*/
    background-color: #ffffff;
    padding: 5px;
    width: 160px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
/*    background-color: #dddddd;*/
    background-color: #ffffff;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
/*    background-color: #dddddd;*/
    background-color: #ffffff;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.form_label {
    vertical-align: top;
}

#top a:link, #top a:visited {
  color: #14447c;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.projetaTable {
/*    background-color:#FFFFFF;*/
/*    border: solid #000 3px;*/
    width: 100%;
    border: solid 1px #A8A8A8;
 }

.projetaTable td {
     border: none #A8A8A8;
/*     display: table-cell;*/
/*     float: none;*/
 }
 
.projetaTable tr {
     border: none #A8A8A8;
 }
 
 
.projetaDetails {
/*    background-color:#FFFFFF;*/
/*    border: solid #000 3px;*/
    width: 100%;
    border: solid 1px #A8A8A8;
 }

.projetaDetails td {
/*     border: solid #A8A8A8;*/
/*     display: table-cell;*/
/*     float: none;*/
 }
 
.projetaDetails tr {
/*     border: solid #A8A8A8;*/
 }
 
 